body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    font-size: 1.8rem;
    color: #1e40af;
    margin-bottom: 1.5rem;
}

.msg.error {
    background-color: #fee2e2;
    color: #b91c1c;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: #1f2937;
    margin-bottom: 0.5rem;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
}

button {
    background-color: #08101d;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
    font-size: 0.5rem;
    cursor: pointer;

}

button:hover {
    background-color: #1d4ed8;
}

@media (max-width: 600px) {
    .login-box {
        padding: 3rem;
        max-width: 50%;
    }

    .login-box h2 {
        font-size: 4rem;
    }

    input[type="text"],
    input[type="password"],
    button {
        font-size:15px;
        padding: 20px;
    }
}